In [1]:
import pandas as pd

data = pd.read_csv("C:/Users/hp/Downloads/Data/data.csv")
data.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [2]:
columns_to_drop = ['Headline', 'URLs']
data = data.drop(columns=columns_to_drop)
data.head(20)

                                                 Body  Label
0   Image copyright Getty Images\nOn Sunday mornin...      1
1   LONDON (Reuters) - “Last Flag Flying”, a comed...      1
2   The feud broke into public view last week when...      1
3   MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...      1
4   Country singer Jason Aldean, who was performin...      1
5   JetNation FanDuel League; Week 4\n% of readers...      0
6   In 2012, Kansas lawmakers, led by Gov. Sam Bro...      1
7   The Reserve Bank of India (RBI) Governor Urjit...      1
8   Scott Pruitt, Administrator of the U.S. Enviro...      1
9   FILE PHOTO - An Air Berlin sign is seen at an ...      1
10  By Aaron Kesel\nAs former White House chief of...      0
11  2017 Fantasy Football Team Defense Rankings – ...      0
12  Just Shut Up & Play Some Damn Baseball!!\n(Bef...      0
13  FILE PHOTO: The Deloitte Company logo is seen ...      1
14  A Potato Battery Can Light up a Room for Over ...      0
15  • The authorities found evidence that the gunm...      1
16  The statement, which was read by her lawyer, M...      1
17  In bold documentary style, Retro Report looks ...      1
18  Red Flag Warning: These California Wildfires A...      0
19  In Meeting With Military, Trump Talks Of 'Calm...      0

In [3]:
data.Label.value_counts()

Label
0    2137
1    1872
Name: count, dtype: int64

In [4]:
data.dropna(subset=['Body'], inplace=True)

In [5]:
data.isnull()

       Body  Label
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
...     ...    ...
4003  False  False
4004  False  False
4005  False  False
4007  False  False
4008  False  False

[3988 rows x 2 columns]

In [6]:
data['Labels'] = data['Label'].map({1: 'Real', 0: 'Fake'})
data[0:6]

                                                Body  Label Labels
0  Image copyright Getty Images\nOn Sunday mornin...      1   Real
1  LONDON (Reuters) - “Last Flag Flying”, a comed...      1   Real
2  The feud broke into public view last week when...      1   Real
3  MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...      1   Real
4  Country singer Jason Aldean, who was performin...      1   Real
5  JetNation FanDuel League; Week 4\n% of readers...      0   Fake

In [31]:
data['Body'][12]

"Just Shut Up & Play Some Damn Baseball!!\n(Before It's News)\nLook, plain and simple I am over this “Take a knee” bullshit in my opinion.\nKyle Terada-USA TODAY Sports\nI’m not writing to debate with anyone on this. Everyone has a right to their own opinion and to protest….I get it. But I also have a right to turn on my television and watch America’s favorite pastime without the extra added political crap. It’s September and there are seven regular season games left so we have enough drama as it is. I like the drama involved in a heart racing, nail biting game between two good teams. It’s a beautiful game and an escape from reality (especially NOW) so can’t we just leave it at that?\nBaseball is my first passion, football is my second. Well, it was….it was the one other sport I really enjoyed when baseball was over. I have been a fan of a poor football team for years and stood by them but at this point it’s too much political mumbo jumbo for me to actually watch a game. Suddenly football became the drama filled gossip girls crowd I worked so hard to avoid in High School. I respect your opinion whatever it may be but I want to see you PLAY THE GAME and hear about all of the news that comes form that…..not from you “taking a knee” and causing Americans everywhere to debate about whether it is right or wrong.\nThat is why I stopped watching. Colin Kaepernick started drama, is now UNEMPLOYED and I no longer watch football.\nRick Osentoski-USA TODAY Sports\nAnd now suddenly the “take a knee” fiasco finally made it into my baseball world and I admit it annoys me! Congratulations rookie kid I couldn’t care less about Bruce Maxwell of the Oakland A’s. You “took a knee” and sent a message. You are incredibly young and have much to learn in life and in baseball. You’ve had your 15 minutes of fame and brought a bunch of drama into the game I love. Now who is next? Because it is coming. The newbie opened up the flood gates.\nSo now that it’s out there and instead of the news main focus being about the Yankees blowing two games against the Jays and likely the division….we have to read Joe Girardi,Yankees players have no plans to protest national anthem. Really? I want to start a new movement here. There’s a cliche that says politics and religion do not belong at the dinner table. How about political protests do not belong at a baseball game?\nPhoto: NJ.com\nClearly Aaron Judge gets it. I’m sure he has a very strong opinion on this too as most of us do but at least when he was asked about it he said “You know, I’m a baseball player. My job is to focus on playing baseball right now.” It is, so thank you Judge. Even CC Sabathia had an opinion on it and he made that pretty clear on Saturday but he said his peace and left it at that. So when Sunday came around he didn’t want to revisit it and said “I don’t want to talk about that. Go to somebody else’s locker and talk about protests. Why do you have to come to me? There are 40 other guys in there” read that HERE.\nWe have one week left in the regular season. Maxwell said his decision “had been coming for a long time” and referenced what happened in Charlottesville. He’s had a while to sit and stew on that and just now decides to join the movement and “take a knee” right at the end of the season. I don’t look at that and find that to be “brave” or admirable at all.\nThere are a lot of issues in our country right now, and I am not ignoring that. We saw how high emotions ran last year in football and now it’s come into baseball. Nothing has changed for the better here, so why bring it on the field?\nI just want to watch some baseball, Maxwell! I didn’t know who you were before this. I know enough about you now, but it doesn’t make me want to learn anymore.\nJust play ball! There’s not a lot of it left…\n–Jeana Bellezza\nBYB Managing Editor\nFollow me on Twitter: @NYPrincess J\nSource: http://bleedingyankeeblue.blogspot.com/2017/09/just-shut-up-play-some-damn-baseball.html"

In [8]:
columns_to_drop = ['Label']
data = data.drop(columns=columns_to_drop)
data[0:2]

                                                Body Labels
0  Image copyright Getty Images\nOn Sunday mornin...   Real
1  LONDON (Reuters) - “Last Flag Flying”, a comed...   Real

In [9]:
data['Labels'] = "__label__" + data['Labels'].astype(str)
data.head(5)

                                                Body         Labels
0  Image copyright Getty Images\nOn Sunday mornin...  __label__Real
1  LONDON (Reuters) - “Last Flag Flying”, a comed...  __label__Real
2  The feud broke into public view last week when...  __label__Real
3  MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...  __label__Real
4  Country singer Jason Aldean, who was performin...  __label__Real

In [35]:
data['Labels_Body'] = data['Labels'] +" "+ data['Body']
data.head(10)

,Body,Labels,Labels_Body
0,Image copyright Getty Images\nOn Sunday mornin...,__label__Real,__label__Real Image copyright Getty Images\nOn...
1,"LONDON (Reuters) - “Last Flag Flying”, a comed...",__label__Real,__label__Real LONDON (Reuters) - “Last Flag Fl...
2,The feud broke into public view last week when...,__label__Real,__label__Real The feud broke into public view ...
3,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,__label__Real,__label__Real MEXICO CITY (Reuters) - Egypt’s ...
4,"Country singer Jason Aldean, who was performin...",__label__Real,"__label__Real Country singer Jason Aldean, who..."
5,JetNation FanDuel League; Week 4\n% of readers...,__label__Fake,__label__Fake JetNation FanDuel League; Week 4...
6,"In 2012, Kansas lawmakers, led by Gov. Sam Bro...",__label__Real,"__label__Real In 2012, Kansas lawmakers, led b..."
7,The Reserve Bank of India (RBI) Governor Urjit...,__label__Real,__label__Real The Reserve Bank of India (RBI) ...
8,"Scott Pruitt, Administrator of the U.S. Enviro...",__label__Real,"__label__Real Scott Pruitt, Administrator of t..."
9,FILE PHOTO - An Air Berlin sign is seen at an ...,__label__Real,__label__Real FILE PHOTO - An Air Berlin sign ...

In [36]:
data['Labels_Body'][7]

'__label__Real The Reserve Bank of India (RBI) Governor Urjit Patel attends a news conference after the bi-monthly monetary policy review in Mumbai, India, October 4, 2017. REUTERS/Shailesh Andrade\nMUMBAI (Reuters) - Fostering monetary conditions conducive to economic growth were a constant consideration for Indian policymakers, but would not take priority over achieving the central bank’s inflation target, Governor Urjit Patel told a newspaper on Monday.\nPatel told the Mint newspaper that the economy was recovering, after growth slowed to a three-year low of 5.7 percent in the April-June quarter.\nThe slowdown had sparked some calls for lower interest rates, but with inflation rising the RBI left rates unchanged at a review by the monetary policy committee (MPC) last week.\n“Growth is always there in the MPC’s scheme of things; we don’t lose sight of that, but not at the cost of inflation,” Patel was quoted as saying in the interview.\n“However, we have to be careful — we should aim at achieving the inflation target without losing sight of supporting economic growth.”\nConsumer inflation accelerated to 3.36 percent in August. India’s central bank has a medium-term target for annual inflation of 4 percent with the flexibility of plus/minus 2 percent on either side to make room for food price volatility.\nThe (MPC) will strive to achieve its 4 percent inflation target on a “durable basis”, Patel said.\nLast week, the RBI kept its repo rate unchanged at 6.00 percent as expected last week, and raised inflation projections, cooling hopes for future rate cuts.\nHowever, Patel said growth was already starting to recover. The RBI last week cut its projection for gross value added - an indicator of growth it prefers to 6.7 percent from 7.3 percent for the year ending in March - higher than some analyst forecasts.\n“Our projections based on high frequency real economy indicators suggest that growth will pick up in the third and fourth quarters (of the current fiscal year) to above 7 percent,” he told Mint.\n“We have started seeing the upturn.”\nPatel has given only a handful of interviews since taking over as RBI Governor late last year.\nFor the full Mint interview, see: (bit.ly/2yytqPn)\nReporting by Suvashree Dey Choudhury'

In [12]:
import re

def Preprocess(text):
    text = re.sub(r'[^\w\s]','',text)
    text = re.sub(r' +', ' ', text)
    return text.strip().lower()

In [13]:
Preprocess(".\nThis, in itself, isn\'t exactly huge news. It\'s far from the first time the president")

'this in itself isnt exactly huge news its far from the first time the president'

In [14]:
data['Labels_Body'] = data['Labels_Body'].map(Preprocess)

In [15]:
data.head(5)

,Body,Labels,Labels_Body
0,Image copyright Getty Images\nOn Sunday mornin...,__label__Real,__label__real image copyright getty images\non...
1,"LONDON (Reuters) - “Last Flag Flying”, a comed...",__label__Real,__label__real london reuters last flag flying ...
2,The feud broke into public view last week when...,__label__Real,__label__real the feud broke into public view ...
3,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,__label__Real,__label__real mexico city reuters egypts cheir...
4,"Country singer Jason Aldean, who was performin...",__label__Real,__label__real country singer jason aldean who ...

In [16]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.2)

In [17]:
train.shape ,test.shape

((3190, 3), (798, 3))

In [18]:
train.to_csv("News.train", columns=["Labels_Body"],index= False , header = False)
test.to_csv("News.test", columns=["Labels_Body"],index= False , header = False)

In [19]:
import fasttext

In [20]:
model = fasttext.train_supervised(input="News.train")
model.test("News.test")

(159, 0.9308176100628931, 0.9308176100628931)

In [51]:
news = input("waiting for news: ")
model.predict(news)

waiting for news: in October 4 2017, The Reverse Bank of india (RBI) Governer Urjit patel attended the news conference in Mumbai

(('__label__real',), array([0.68798023]))